cachelib==0.13.0
click==8.1.7
colorama==0.4.6
cs50==9.3.4
Flask==2.2.2
Flask-Session==0.8.0
greenlet==3.0.3
gunicorn==23.0.0
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
msgspec==0.18.6
packaging==24.1
setuptools==69.5.1
SQLAlchemy==2.0.31
sqlparse==0.5.0
termcolor==2.4.0
typing_extensions==4.12.2
Werkzeug==2.2.3
wheel==0.43.0
