/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*themes with variable colors*/
.Light{
  --color1: #242e37;
  --color2: #ffffff;
  --color3: #e1e3e4;
  --color4: #242e37;
  --color5: #008dba;
  --colorextra: #ffffff;
  --font: "Roboto", sans-serif;

}

.Dark{
  --color1: #ffffff;
  --color2: #242e37;
  --color3: #e1e3e4;
  --color4: #1a1c20;
  --color5: #008dba;
  --colorextra: #ffffff;
  --font: "Roboto", sans-serif;
}

/*everything*/
* {
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  --font-color: var(--color1);
  --background-color: var(--color2);
  --nav-color: var(--color4);
  --navfont-color: var(--colorextra);
  --button-color: var(--color5);
  --buttonfont-color: var(--color4);
  --hover-color: var(--color3);
  --hoverfont-color: var(--color4);
  --logo-color: var(--color5);
  --linkhover-color: var(--color5); 
  --tab-color: var(--color4);
  --tabfont-color: var(--colorextra);
  --tabhover-color: var(--color5);
  --tabhoverfont-color: var(--color4);
  --disabled-color: var(--color4);
  --disabledfont-color: var(--color3);
  --placeholder-color: var(--color4);
  --aler-color: var(--color5);
  --active-color: var(--color1);
  --activefont-color: var(--color5);
  --border-color: var(--color5);
}


.body a {
  text-decoration: none;
}

html {

  background-color: var(--background-color);
  color: var(--font-color);
}

.desktop {
  background-color: var(--nav-color);
  color: var(--navfont-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
.mobile {
  display: none;
  background-color: var(--nav-color);
  color: var(--navfont-color);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}
.body {
  padding: 10px 10%;
  text-align: center;  /* Optional: centers inline text */
}


header a {
  color: var(--navfont-color);
  text-decoration: none;
}

body {
  transition: background-color 0.5s, color 0.3s;
}

.logo:hover {
  background-color: var(--hover-color);
}

a:hover {
  font-weight: bold;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--linkhover-color);
}

button {
    background-color: var(--button-color);
    color: var(--buttonfont-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 5px;
}
button:hover {
  background-color: var(--hover-color);
}

.active {
  font-weight:bolder;
  font-size: 30px;
  color: var(--activefont-color);
  transition: all 0.5s ease 0s;
}

.enter {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 300px;
  height: 75px;
}


.noEdit td {
  padding: 20px 25px;
}



.rowbuttons {
  display: flex;
  justify-content: center;
}

.rowbuttons button {
  margin: 5px;
}

.logo {
  margin: 0px 110px;
  width: 80px; /* you can use % */
  height: auto;
  background-color: var(--logo-color);
  border-radius: 20px;
  padding: 5px 5px;
  transition: all 1s ease 0s;
}

.main {
  margin: 40px 0 40px 0;
}

.margin {
  margin: 20px 0 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  margin: 20px 0 20px 0;
}

.column {
  float: left;
  width: 49.8%;
  margin: 0px 1px 0px 1px;
}

td {
  padding: 15px 0px;
  border-bottom: 2px dashed var(--tab-color); /* Adds a 2px black line at the bottom of each <td> */
}

th {
  background-color: var(--tab-color);
  padding: 15px 0px;
  transition: all 0.5s ease 0s;
  color: var(--tabfont-color);
}

caption {
  font-size: 20px;
  padding: 10px 10px;
  color: var(--tabfont-color);
  background-color: var(--tab-color);
}


.show {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  
}

h1 {
  margin: 20px 0 20px;
}

h2{
  margin: 10px 0 10px;
}

.select tbody tr:not(.nohover):hover {
  transition: all 0.5s ease 0s;
  background-color: var(--tabhover-color);
  color: var(--tabhoverfont-color);
  cursor: pointer;
}

input, select, textarea{
  width: 25%;
  min-width: 200px;
  padding: 10px;
  margin: 10px 0px;
  border: 2px solid var(--font-color);
  border-radius: 10px;
  font-size: 16px;
}

/* Focus state */
input:focus, textarea:focus, select:focus {
  outline: none;
  border: 4px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
}


/* Hover state */
input:hover, textarea:hover, select:hover {
  border-color: var(--border-color);
}

/* Disabled input styling */
input:disabled {
  background-color: var(--disabled-color);
  color: var(--disabledfont-color);
  cursor: not-allowed;
}

input:disabled::placeholder {
  color: var(--disabledfont-color);
}

/* Placeholder text styling */
input::placeholder, textarea::placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

/*error messages*/
.flash-text {
  font-size: 30px;
  font-weight: bold;
  color: var(--aler-color);
  animation: flash 1s 3;
  padding: 0px 0 30px 0;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


/* priorities colors */
.Medium {
  background-color: rgba(255, 166, 0, 0.75); /* Blue color */
}

.High {
  background-color: rgba(255, 0, 0, 0.75); /* Blue color */
}

.Low {
  background-color: rgba(0, 128, 0, 0.75); /* Blue color */
}

/* status colors */
.status4 {
  color: red;
}

.status3 {
  color: green;
}

.status2{
  color: orange;
}

.status1 {
  color: blue;
}



/*media scale*/
@media (max-width: 1300px){
  .column {
    width: 100%; /* The width is 100%, when the viewport is 1300px or smaller */
  }
  .nav_links, .nav_button{
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .desktop {
    display: block;
    align-items: center;
  }

  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .show {
    width: 100%;
  }

  td {
    width: 50%;
  }
}


@media (max-width: 800px){

.Dark {
  --color1: #242e37;
  --color2: #ffffff;
  --color3: #e1e3e4;
  --color4: #242e37;
  --color5: #008dba;
  --colorextra: #ffffff;
  --font: "Roboto", sans-serif;
}

.nav_button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;

}

  .nav_links li {
    padding: 0px 5px;
  }
  
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  .enter {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 200px;
    height: 60px;
  }

  .none {
    display: none;
  }
}
