{% extends "layout.html" %}

{% block title %}
    ADD MORE
{% endblock %}

{% block body %}
<div class="mb-3"><h3>ADD MORE</h3></div>
<div class="mb-3">
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>
    <form action="/add" method="post">
      <div class="mb-3">
        
        
        <select onchange="changeActiveStatus()" id="category" name="category">
          <option disabled value="" selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{ category["category"] }}">{{ category["category"] }}</option>
          {% endfor %}
          <option value="newcategory" >New Category</option>
        </select>
        
      </div>
      <div class="mb-3">
        <input id="newcategory" autocomple="off" name="addcategory" placeholder="New Category" type="text" disabled>
      </div>
      <div class="mb-3">
        <input autocomple="off" name="name" placeholder="Name" type="text">
      </div>
      <div class="mb-3">
        <input autocomple="off" name="link" placeholder="Link or IP" type="text">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </form>

{% endblock %}
