{% extends "layout.html" %}

{% block title %}
    CHANGE PASSWORD
{% endblock %}

{% block body %}
<div><h1>CHANGE PROFILE SETTINGS</h1></div>
<div>
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>

    <form action="/profile" method="post">
      <div><h5>CHANGE NAME</h5></div>
      <div>
        {% if session.get("permission") == 0 %}
        <input autocomple="off" name="name" placeholder="admin" type="text" disabled>
        {% else %}
        <input autocomple="off" name="name" placeholder="New Name" type="text">
        {% endif %}
        {{ user[0]["username"] }}
      </div>
    <div><h5>CHANGE PASSWORD</h5></div>
      <div>
        <input autocomple="off" autofocus name="pOld" placeholder="Old Password" type="password">
      </div>
      <div>
        <p>Password must have 10 chars or more</p>
        <input autocomple="off" name="password" placeholder="New Password" type="password">
      </div>
      <div>
        <input autocomple="off" name="pConfirmation" placeholder="Confirmation" type="password">
      </div>
      <div>

        <button type="submit">Change</button>
      </div>
    </form>

{% endblock %}
