{% extends "layout.html" %}

{% block title %}
    CHECK USERS
{% endblock %}

{% block h1 %}<h1>Check Users</h1>{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>

        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td> {{ user["name"] }}</td>
                <td> {{ user["email"] }}</td>
                <td>
                  <form action="/checkuser" method="post">
                    <input name="id" type="hidden" value="{{ user["id"] }}">
                    <button type="submit">Accept</button>
                  </form>


                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
