{% extends "layout.html" %}

{% block title %}
    CHECK USERS
{% endblock %}

{% block body %}
<div><h1>CHECK USERS</h1></div>
<div >
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>USERNAME</th>
                <th></th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}
            <tr>
                <td> {{ user["username"] }}</td>
                <td>
                  <form action="/checkuser" method="post">
                    <input name="id" type="hidden" value="{{ user["id"] }}">
                    <button type="submit">ACEPT</button>
                  </form>


                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
