{% extends "layout.html" %}

{% block title %}
    EDIT USER
{% endblock %}

{% block body %}
<div ><h1>EDIT USER</h1></div>
<div ><h2>{{ user[0]["name"] }}</h2></div>
<div >
{% for message in get_flashed_messages() %}
<p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>

      <form action="/changeuser" method="post">

        <div ><p>Change Permission</p></div>
        <div >
        <select id="permission" name="permission" onchange="clickButton()">
          <option disabled value="" selected>Permission</option>
          {% if session.get("permission") != 0 %}
            <!-- Dynamically set the selected option based on user[0]['permission'] -->
            <option value="2" {% if user[0]["permission"] == 2 %} selected {% endif %}>Power User</option>
            <option value="3" {% if user[0]["permission"] == 3 %} selected {% endif %}>User</option>
          {% else %}
            <option value="1" {% if user[0]["permission"] == 1 %} selected {% endif %}>Admin User</option>
            <option value="2" {% if user[0]["permission"] == 2 %} selected {% endif %}>Power User</option>
            <option value="3" {% if user[0]["permission"] == 3 %} selected {% endif %}>User</option>
          {% endif %}
        </select>
      </div>
      <div >
        <button hidden type="submit" class="enter" id="clickbutton">Save</button>
      </div>
      </form>
      <!-- RESET BUTTON
      <form action="/resetstatus" method="post">
        <button type="submit" class="btn btn-sm btn-outline-secondary" >RESET PASSWORD</button>
      </form>
      -->
      <!-- RESET BUTTON -->
      <table class="show">
        <tr>
          <td>
            {% if user[0]["active"] == 0 %}
        <form action="/deactivateuser" method="post">
          <button type="submit" class="">Deactivate</button>
        </form>
        {% else %}
        <form action="/activateuser" method="post">
          <button type="submit" class="">Activate</button>
        </form>
        {% endif %}
          </td>
          <td>
            <form action="/resetpassword" method="post">
              <button type="submit" class="">Reset Password</button>
            </form>
          </td>
          <td>
            <form action="/deleteuser" method="post">
              <button type="submit" class="">Delete</button>
            </form>
          </td>
        </tr>
      </table>

{% endblock %}
