{% extends "layout.html" %}

{% block title %}
    REGISTER
{% endblock %}

{% block body %}
<div ><h1>CHANGE LINK</h1></div>
<div >
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>
    <form action="/change" method="post">
      <div >
        <select onchange="changeActiveStatus()" id="category" name="category">
          <option disabled value="" selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{ category["category"] }}">{{ category["category"] }}</option>
          {% endfor %}
          <option value="newcategory" >New Category</option>
        </select>
        
      </div>
      <div >
        <input id="newcategory" autocomple="off" name="addcategory" placeholder="New Category" type="text" disabled>
        {{ links[0]["category"] }}
      </div>
      <div >
        <input autocomple="off" name="name" placeholder="New Name" type="text">
        {{ links[0]["name"] }}
      </div>
      <div >
        <input autocomple="off" name="link" placeholder="New Link" type="text">
        {{ links[0]["link"] }}
      </div>
      <div >
        <input name="id" type="hidden" value="{{ links[0]["id"] }}">
        <button type="submit" >Change</button>
      </div>
    </form>
    <form action="/delete" method="post">
      <input name="id" type="hidden" value="{{ links[0]["id"] }}">
      <button type="submit" >Delete</button>
    </form>

{% endblock %}
