{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block body %}
<div ><h1>HISTORY</h1></div>
<div >
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Link</th>
                <th>Type</th>
                <th>What Change</th>
                <th>Time</th>
            </tr>

        </thead>

        <tbody>

            {% for log in logs %}
            <tr>
                <td> {{ log["username"] }}</td>
                <td> {{ log["name"] }}</td>
                <td> {{ log["type"] }}</td>
                <td> {{ log["comment"] }}</td>
                <td> {{ log["time"] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
