{% extends "layout.html" %}

{% block title %}
    INDEX
{% endblock %}

{% block body %}
<div><h1>INDEX/LOGIN</h1></div>
<div>
  {% for message in get_flashed_messages() %}
  <p class="flash-text"><b>{{message}}</b></p>
  {% endfor %}
  </div>
    <form action="/login" method="post">
      <div>
        <input autocomple="off" autofocus name="email" placeholder="Email" type="text">
      </div>
      <div>
        <input autocomple="off" name="password" placeholder="Password" type="password">
      </div>
      <div>
        <button type="submit" class="enter">Login</button>
      </div>
    </form>
    <form action="/resetpassword">
      <button type="submit">Forgot Password</button>
    </form>
    

</form>
{% endblock %}
