<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href=".\static\styles.css">
        <script src=".\static\script.js"></script>


        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      <!-- Header for desktop resolution -->
      <header class="desktop">
        <a href="/" onclick="setDefault()"><img class="logo" src=".\static\images\d3.png" alt="logo"></a>
        {% if session.get("user_id") and session.get('permission') != 5 %}
        
        <nav>
          <ul class="nav_links">
            <li><a href="/tickets" onclick="changeActiveLink(event)" id="ticketID">Tickets</a></li>
            
            <li><a href="/solutions" onclick="changeActiveLink(event)" id="solutionID">Solutions</a></li>
            
            

            {% if session.get("permission") < 2 %}
            <li><a href="/users" onclick="changeActiveLink(event)" id="userID">Users</a></li>
            {% else %}
            
            {% endif %}
          </ul>
        </nav>
        <div class="nav_button">
          
          <button onclick="toggleMode()" id="theme"></button>
          <a href="/profile"><button onclick="removesDefault()">Profile</button></a>
          
          <a href="/logout"><button onclick="logout()">Logout</button></a>
      </div>
        {% elif session.get('permission') == 5 %}
        <div class="nav_button">
          
          <button onclick="toggleMode()" id="theme"></button>
          <a href="/profile"><button onclick="removesDefault()">Profile</button></a>
          
          <a href="/logout"><button onclick="logout()">Logout</button></a>
      </div>
        {% else %}
        <div class="nav_button">
          
          <button onclick="toggleMode()" id="theme"></button>
          <a href="/register"><button>Register</button></a>
          
          <a href="/"><button>Login</button></a>
          
          
      </div>
        {% endif %}
      </div>
      </header>
      <!-- Header for mobile resolution -->
      <header class="mobile">
          <a href="/" onclick="setDefault()"><img class="logo" src=".\static\images\d3.png" alt="logo"></a>
          {% if session.get("user_id") %}
          
          <nav>
            <ul class="nav_links">
              <li><a href="/tickets" onclick="changeActiveLink(event)" id="ticketID">Tickets</a></li>
            
            <li><a href="/solutions" onclick="changeActiveLink(event)" id="docID">Solutions</a></li>
              
              
            </ul>
          </nav>
          <div class="nav_button">
            <a href="/logout"><button onclick="logout()">Logout</button></a>
        </div>
          {% else %}
          <div class="nav_button">
          
            <a href="/register"><button>Register</button></a>
            
            
          </div>
          {% endif %}
      </header>
      <div class="body">
        {% block h1 %}{% endblock %}
          {% for message in get_flashed_messages() %}
          <p class="flash-text"><b>{{message}}</b></p>
          {% endfor %}
        {% block body %}{% endblock %}
      </div>
    </body>
</html>
