{% extends "layout.html" %}

{% block title %}
    LINKS
{% endblock %}

{% block body %}
<div><h1>Welcome to Site List {{ username }}!</h1></div>
<div>
{% for message in get_flashed_messages() %}
    <p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>
    <table>
        <thead>
            <tr>
                <th><a href="/links">CATEGORY</a></th>
                <th><a href="/links">NAME</a></th>
            </tr>

        </thead>

        <tbody>

            {% for link in links %}
            {% if session.get("permission") < 3 %}
            <tr>
                <td> {{ link["category"] }}</td>
                <td>
                    <a href="https:\\{{ link["link"] }}">{{ link["name"] }}</a>
                </td>
                
                <td>
                    <form action="/edit" method="post">
                        <input name="id" type="hidden" value="{{ link["id"] }}">
                        <button type="submit">EDIT</button>
                    </form>
                </td>
                
            </tr>
            {% else %}
            <tr class="noEdit">
                <td> {{ link["category"] }}</td>
                <td>
                    <a href="https:\\{{ link["link"] }}">{{ link["name"] }}</a>
                </td>
                
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    {% if session.get("permission") < 3 %}
    <form action="/add">
    <button type="submit" class="enter">ADD MORE</button>
    </form>
    {% else %}{% endif %}

{% endblock %}
