{% extends "layout.html" %}

{% block title %}
    LINKS
{% endblock %}

{% block body %}
<div><h1>Welcome to Site List {{ username }}!</h1></div>
<div>
{% for message in get_flashed_messages() %}
  <p><b>{{message}}</b></p>
{% endfor %}
</div>
    <table>
        <thead>
            <tr>
                <th>CATEGORY</th>
                <th>NAME</th>
            </tr>

        </thead>

        <tbody>

            {% for link in links %}
            <tr>
                <td> {{ link["category"] }}</td>
                <td>
                    <a href="https:\\{{ link["link"] }}">{{ link["name"] }}</a>
                </td>
                <td>
                  <form action="/edit" method="post">
                    <input name="id" type="hidden" value="{{ link["id"] }}">
                    <button type="submit">EDIT</button>
                  </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="/add"><button>ADD MORE</button></a>

{% endblock %}
