{% extends "layout.html" %}

{% block title %}
    NEW SOLUTION
{% endblock %}

{% block body %}
<div><h1>NEW SOLUTION</h1></div>
<div>
{% for message in get_flashed_messages() %}
  <p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>
    <form action="/newsolution" method="post">
  {{ticketID}}
        <div>
        
        
            <select onchange="changeActiveStatus()" id="category" name="category">
              <option disabled value="" selected>Choose Category</option>
              {% for category in categories %}
              <option value="{{ category["category"] }}">{{ category["category"] }}</option>
              {% endfor %}
              <option value="newcategory" >New Category</option>
            </select>
            
          </div>
          <div>
            <input id="newcategory" autocomple="off" name="addcategory" placeholder="New Category" type="text" disabled>
          </div>
      <div>
        <input autocomple="off" name="subject" placeholder="Subject" type="text">
      </div>
      <div>
        <textarea autocomple="off" name="description" rows="4" cols="50" placeholder="Describe the Problem"></textarea>
      </div>
      <div>
        <button type="submit" class="enter large">NEW</button>
      </div>
    </form>

{% endblock %}
