{% extends "layout.html" %}

{% block title %}
    CHANGE PASSWORD
{% endblock %}

{% block h1 %}<h1>MY PROFILE</h1>{% endblock %}
{% block body %}

    <form action="/profile" method="post">
      <div><h5>CHANGE NAME</h5></div>
      <div>
        {% if session.get("permission") == 0 or session.get("permission") == 5 %}
        <input autocomple="off" name="name" placeholder="{{ user[0]["name"] }}" type="text" disabled>
        {% else %}
        <input autocomple="off" name="name" placeholder="{{ user[0]["name"] }}" type="text">
        {% endif %}
        
      </div>
    <div><h5>CHANGE PASSWORD</h5></div>
      <div>
        <input autocomple="off" autofocus name="pOld" placeholder="Old Password" type="password">
      </div>
      <div>
        <p>Password must have 8 chars or more</p>
        <input autocomple="off" name="password" placeholder="New Password" type="password">
      </div>
      <div>
        <input autocomple="off" name="pConfirmation" placeholder="Confirmation" type="password">
      </div>
      <div>

        <button type="submit" class="enter">Change</button>
      </div>
    </form>

{% endblock %}
