{% extends "layout.html" %}

{% block title %}
    REGISTER
{% endblock %}

{% block body %}
<div ><h1>REGISTER</h1></div>
<div >
{% for message in get_flashed_messages() %}
<p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>
    <form action="/register" method="post">
      <div >
        <input autocomple="off" autofocus name="username" placeholder="Name" type="text">
      </div>
      <div >
        <p>Password must have 10 chars or more</p>
        <input autocomple="off" name="password" placeholder="Password" type="password">

      </div>
      <div >
        <input autocomple="off" name="pConfirmation" placeholder="Confirmation" type="password">
      </div>
      <div >
        <button type="submit" class="enter">Register</button>
      </div>
    </form>

{% endblock %}
