{% extends "layout.html" %}

{% block title %}
    SOLUTIONS
{% endblock %}

{% block body %}
<div>
{% for message in get_flashed_messages() %}
    <p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>
    {% if session.get("permission") < 4 %}
    <form action="/newsolution">
    <button type="submit" class="enter">NEW SOLUTION</button>
    </form>

    <form action="/solutions" method="post">
    <select id="status" name="category" onchange="clickButton()">
        <option hidden disabled value="" selected>Filter</option>
        
        <option value="reset">All</option>
        {% for item in list %}
        <option value="{{ item["category"] }}">{{ item["category"] }}</option>
        
        
        {% endfor %}
    </select>

    <button hidden type="submit" id="clickbutton">click</button>
    </form>


    {% else %}{% endif %}

    {% for categorie in categories %}
    <table >
        <thead>
            <tr>
                <th colspan="3" style="font-size: 30px;">{{ categorie["category"] }}</th>
            </tr>

        
            <tr>
                <th>Subject</th>
                <th>Creator</th>
                <th>Creation Time</th>
            </tr>
        </thead>
        <tbody>
            {% for solution in solutions %}
            {% if solution["category"] == categorie["category"] %}
            <tr onclick="clickButtonID('{{ solution["id"] }}')">
                <td>{{ solution["subject"] }}</td>
                <td>{{ solution["creator_name"] }}</td>
                <td>{{ solution["time"] }}</td>
                <td hidden>
                    <form action="/showsolution" method="post">
                        <input name="id" type="hidden" value="{{ solution["id"] }}">
                        <button type="submit" id="clickbuttonid-{{ solution["id"] }}">SHOW</button>
                    </form>
                </td>
                
            </tr>
            
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% endblock %}
