{% extends "layout.html" %}

{% block title %}
    TICKETS
{% endblock %}
{% block h1 %}<h1>Tickets</h1>{% endblock %}
{% block body %}
    {% if session.get("permission") < 4 %}
    <form class="margin" action="/newticket">
    <button type="submit" class="enter">NEW TICKET</button>
    </form>

    <form class="margin" action="/tickets" method="post">
    <select id="status" name="status" onchange="clickButton()">
        <option hidden disabled value="" selected>Filter</option>
        
        <option value="reset">All Open</option>
        {% for item in status %}
        <option value="{{ status.index(item) }}">{{ item }}</option> 
        {% endfor %}
    </select>
    <button hidden type="submit" id="clickbutton">click</button>
    </form>
    {% else %}{% endif %}
    <div class="main">
    <table class="select">
        <thead>
            <tr>
                <th>Priority</th>
                <th>Subject</th>
                <th class="none">Created By</th>
                <th>Status</th>
            </tr>

        </thead>
        <tbody>
            {% for ticket in tickets %}
            <!--get function on clickbuttonID(ID)-->
            <tr onclick="clickButtonID('{{ ticket['id'] }}')">
                <td class="{{ priority[ticket['priority']] }}"> {{ priority[ticket["priority"]] }}</td>
                <td> {{ ticket["subject"] }}</td>
                {% if ticket["creator_name"] %}
                <td class="none"> {{ ticket["creator_name"] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="status{{ ticket['status'] }}"> {{ status[ticket["status"]] }}</td>
                
                <td hidden>
                    <form action="/showticket">
                        <input name="id" type="hidden" value="{{ ticket["id"] }}">
                        <button type="submit" id="clickbuttonid-{{ ticket["id"] }}">SHOW</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}