{% extends "layout.html" %}

{% block title %}
    USERS
{% endblock %}
{% block h1 %}<h1>Users</h1>{% endblock %}
{% block body %}
<div class="main">
    <table class="select">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="none">Permisson</th>
                <th class="none">Active</th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}
            {% if user['permission'] == 5 %}
            <tr>
                <td> {{ user["name"] }}</td>
                <td> {{ user["email"] }}</td>
                <td class="none"> {{ role[user["permission"]] }}</td>
                {% if user["active"] == 0 %}
                <td class="none">Yes</td>
                {% else %}
                <td class="none">No</td>
                {% endif %}
            </tr>
            {% else %}
            <tr onclick="clickButtonID('{{ user['id'] }}')">
                <td> {{ user["name"] }}</td>
                <td> {{ user["email"] }}</td>
                <td class="none"> {{ role[user["permission"]] }}</td>
                {% if user["active"] == 0 %}
                <td class="none">Yes</td>
                {% else %}
                <td class="none">No</td>
                {% endif %}
                
                <td hidden>
                  <form action="/edituser">
                    <input name="id" type="hidden" value="{{ user["id"] }}">
                    <button type="submit" id="clickbuttonid-{{ user["id"] }}" >EDIT</button>
                  </form>


                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
