{% extends "layout.html" %}

{% block title %}
    USERS
{% endblock %}

{% block body %}
<div>
{% for message in get_flashed_messages() %}
<p class="flash-text"><b>{{message}}</b></p>
{% endfor %}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PERMISSION</th>
                <th>ACTIVE</th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}
            <tr onclick="clickButtonID('{{ user['id'] }}')">
                <td> {{ user["name"] }}</td>
                <td> {{ user["email"] }}</td>
                <td> {{ role[user["permission"]] }}</td>
                <td> {{ status[user["active"]] }}</td>
                <td hidden>
                  <form action="/edituser" method="post">
                    <input name="id" type="hidden" value="{{ user["id"] }}">
                    <button type="submit" id="clickbuttonid-{{ user["id"] }}" >EDIT</button>
                  </form>


                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
